
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body style="background-color:ivory;">
    <header class="jumbotron" style="background-color:moccasin;">
        <div class="container">
            <div class="row row-header">
                <div class="col-12 col-sm-8">
                    <h1 class="mb-3">Calculadora de logistica</h1>
                    <p>Calculadora criada com o intuito de analizar diariamente o custo da nossa logistica de entrega. Exportando os resultados para uma planilha de controle no Exel.</p>
                </div>
                <div  class="col-12 col-sm align-self-center">
                    <img src="https://github.com/fabioafreitas/OpaFrutas/raw/main/img/logo.png" class="img-fluid">
                </div>
            </div>
        </div>
    </header>
    <div class="container" id="app" style="height: 200vh">
        <div class="row">
            <div class="col p-0">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon3">Preço do combustível (R$)</span>
                    </div>
                    <input v-model="precoGasolina" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                  </div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon3">Autonomia do veículo (Km/L)</span>
                    </div>
                    <input v-model="autonomiaVeiculo" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                  </div>
            </div>
            <div class="col p-0">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon3">Peso da mercadoria (Kg)</span>
                    </div>
                    <input v-model="pesoMercadoria" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col mr-3">
                <div class="row" v-for="item in enderecos1" :key="item.id">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">Endereço {{item.id}}</span>
                        </div>
                        <input v-model="item.data" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row" v-for="item in enderecos2" :key="item.id">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">Endereço {{item.id}}</span>
                        </div>
                        <input v-model="item.data" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div @click="calcular" class="btn btn-primary btn-block">Calcular</div>
        </div>
        <div class="row mt-5 mb-5">
            <table id="table1" style="width:100%">
                <tr style="border: 1px solid silver;">
                  <th style="border: 1px solid silver;">Distância total</th>
                  <th style="border: 1px solid silver;">Custo total</th>
                  <th style="border: 1px solid silver;">Custo por Kg</th>
                  <th style="border: 1px solid silver;">Tempo de viagem</th>
                </tr>
                <tr style="border: 1px solid silver;">
                  <td style="border: 1px solid silver;">{{distanciaTotal | quilometro}}</td>
                  <td style="border: 1px solid silver;">{{custoGasolina | real}}</td>
                  <td style="border: 1px solid silver;">{{custoPorQuilo | realMaiorPrecisao}}</td>
                  <td style="border: 1px solid silver;">{{tempoTotal | tempo}}</td>
                </tr>
              </table>
        </div>
        <!-- <div class="row mt-4 mb-5">
            <div @click="copiarResultados" class="btn btn-secondary btn-block">Copiar Valores</div>
        </div> -->
        <div class="row row-content justify-content-left">
            <div class="col-12 col-sm-6 ">
                <h2>Dicas</h2>
                <p>Ao adicionar os endereços o usuário pode encontrar alguns problemas de compatibilidade na formatação de texto, alguns caracteres como hífen, CEP's, abreviações como ("Av.", "R.",) podem gerar problemas na plataforma.</p>
                <p>Nesse caso uma notificação será gerada em formato de Pop-up identificando onde a requisição apresentou erro, uma verificação nos dois endereços apresentados deve ser realizada. Sugiro manter um banco de endereços relacionando cada supermercado com seu endereço previamente testado na plataforma para agilizar futuras operações.</p>
            </div>
            <div class="col col-sm" >
                <div class="card">
                    <h3 class="card-header bg-primary text-white">Exemplos de formatação</h3>
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-6">Preço do combustível</dt>
                            <dd class="col-6">5,8</dd>
                            <dt class="col-6">Autonomia do veículo</dt>
                            <dd class="col-6">10</dd>
                            <dt class="col-6">Peso da mercadoria</dt>
                            <dd class="col-6">7000</dd>
                            <dt class="col-6">Endereços</dt>
                            <dd class="col-6">Rua Vasco da Gama, 817, Vasco da Gama, Recife</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<footer>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                precoGasolina: 0,
                autonomiaVeiculo: 0,
                pesoMercadoria: 0,
                distanciaTotal: 0,
                tempoTotal: 0,
                custoGasolina: 0,
                custoPorQuilo: 0,
                enderecos1: [
                    {'id':1, 'data': ''},
                    {'id':2, 'data': ''},
                    {'id':3, 'data': ''},
                    {'id':4, 'data': ''},
                    {'id':5, 'data': ''}
                ],
                enderecos2: [
                    {'id':6, 'data': ''},
                    {'id':7, 'data': ''},
                    {'id':8, 'data': ''},
                    {'id':9, 'data': ''},
                    {'id':10, 'data': ''}
                ],
                enderecos: [],
            },
            methods: {
                async calcular() {
                    this.distanciaTotal = 0 
                    this.tempoTotal = 0
                    this.enderecos = this.enderecos1.concat(this.enderecos2)
                    for (let i = 0; i < this.enderecos.length-1; i++) {
                        if(this.enderecos[i].data && this.enderecos[i+1].data) {
                            let erroLog = await this.requisicaoHttp(this.enderecos[i].data, this.enderecos[i+1].data)
                            if(erroLog) {
                                alert(erroLog)
                                this.distanciaTotal = 0 
                                this.tempoTotal = 0
                                break
                            }
                        }
                    }
                    this.custoGasolina = ((this.distanciaTotal / this.autonomiaVeiculo) * this.precoGasolina)
                    this.custoPorQuilo =  this.custoGasolina / this.pesoMercadoria
                },


                async requisicaoHttp(endereco1, endereco2) {
                    let jsonEnviar = {
                        "address1": endereco1,
                        "address2": endereco2
                    }
                    let erro = false
                    let erroLog = ''
                    await axios.post('http://opafrutas.calculadora.fabiotest.online:5000/', jsonEnviar)
                        .then(response => {
                            let dados = response.data
                            console.log(dados)
                            this.distanciaTotal = this.distanciaTotal + (dados.distancia.value / 1000) //para km
                            this.tempoTotal = this.tempoTotal + (dados.tempo.value / 3600) //para horas
                        })
                        .catch(error => {
                            console.log(error.response)
                            erro = true
                        });
                    if(erro) {
                        erroLog = 'Erro em um dos enderecos:\n\n'+endereco1+'\n\n'+endereco2
                    }
                    return erroLog
                },

                /* copiarResultados() {
                    /* Get the text field 
                    var copyText = '<div><table><tr><td>'+this.tempoTotal+'</td><td>'+
                        this.distanciaTotal+'</td><td>'+
                        this.custoGasolina+'</td><td>'+
                        this.custoPorQuilo+'</td></tr></table></div>'
                    copyText = copyText.replaceAll('.', ',')
                    var dummy = document.createElement("textarea");
                    document.body.appendChild(dummy);
                    dummy.value = copyText;
                    dummy.select();
                    document.execCommand("copy");
                    document.body.removeChild(dummy);
                }, */
            },
            filters: {
                real(value) {
                    return 'R$ ' + Number((value).toFixed(2));
                },
                realMaiorPrecisao(value) {
                    return 'R$ ' + Number((value).toFixed(5));
                },
                
                quilometro(value) {
                    return Number((value).toFixed(3)) + ' Km'
                },
                tempo(value) {
                    if(value == 0) {
                        return 0
                    }
                    segundos = value*3600
                    time = new Date(segundos * 1000).toISOString().substr(11, 8)
                    time = time.split(':')

                    return time[0] +' Hrs '+ time[1] +' min '+ time[2] +' seg'
                }
            }
        });
    </script>
</footer>
</html>
